.jumbotron  {
    background-image: linear-gradient(to right, rgb(60, 106, 198) , rgb(8, 25, 67));
  }
 
h1{
    text-align: center;

}  

#weather-container{

    border: 5px black;
    border-radius: 5px;
}

.city-name{
     text-align: justify;
     font-size: 25px;
     font-weight: bolder;
}

.btn-grid{
    display: grid;
    gap: 10px;
    margin: 20px 0;
    grid-template-columns: auto;
}

p{

    font-size: 18px;
}
.image-size{

    size: 100px ;
}
ul, li{
    padding-top: 3px;
    padding-left:4px;
    justify-content: left;
    list-style-type: none;
    font-size: 12px;
    text-align: left;
    text-indent: none;
}